@utility:registry=https://gitlab.com/api/v4/projects/26389277/packages/npm/
@domain:registry=https://gitlab.com/api/v4/projects/26389277/packages/npm/
@infrastructure:registry=https://gitlab.com/api/v4/projects/26389277/packages/npm/
